apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-api
  namespace: blog
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: blog-api
  template:
    metadata:
      labels:
        app: blog-api
    spec:
      securityContext:
        fsGroup: 2000
        runAsUser: 0
      containers:
        - name: blog-api
          image: blogacr12345.azurecr.io/blog-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: blog-api-config
            - secretRef:
                name: blog-api-secret
          volumeMounts:
            - name: uploads-volume
              mountPath: /uploads
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 20
      volumes:
        - name: uploads-volume
          persistentVolumeClaim:
            claimName: uploads-pvc
